.contact-page header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../utils/img/about-page-img.jpg');
  height: 50vh;
}

.bb-submit {
  display: inline-block;
  font-weight: bold;
  text-align: center;
  border: 2px solid transparent;
  padding: 10px 16px;
  font-size: 16px;
  border-radius: 14px;
  color: rgb(255, 255, 255);
  transition: color, background-color 0.4s ease;
  background-color: rgb(250, 129, 40);
}

.bb-submit:hover {
  color: #fff;
  background-color: rgb(216, 112, 38);
  border-color: rgb(216, 112, 38);
}