.brand-name {
  color: rgb(250, 129, 40);
  text-decoration: none;
  margin-right: 20px;
}

footer {
  margin-top: 15px;
}

.footer-list {
  list-style: none;
  padding: 0;
}

.footer-list a {
  text-decoration: none;
  color: black;
  font-weight: 400;
  transition: color 0.4s ease;
}

.footer-list a:hover {
  color: rgb(250, 129, 40);
}

.footer-list h1 {
  font-size: 22px;
}

.footer-list li {
  margin-top: 10px;
}

.container {
  max-width: 900px;
  margin: 0 auto;
}